.grid {
  border: 1px solid black;
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, 1fr) 100px;
  grid-template-rows: repeat(3, 100px);
  /*grid-auto-rows: 75px;*/
  grid-gap: 10px;
}

@media screen and (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  background-color: gray;
}

.grid-item:nth-child(even) {
  background-color: silver;
}
