.nav ul {
  display: flex;
}

.flex-direction ul {
  flex-direction: row-reverse;
}

.justify-content ul {
  justify-content: space-around;
}

.align-items ul {
  height: 200px;
  align-items: flex-start;
}

.align-items .active {
  font-size: 2em;
  align-self: flex-end;
}

.flex-grow li {
  flex-grow: 1;
}

.flex-grow li.active {
  flex-grow: 2;
  flex-basis: 300px;
}

.flex-shrink li {

}
