.gallery {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.gallery li {
  margin-bottom: 10px;
  margin-right: 10px;
}

.gallery li:nth-child(3n) {
  margin-right: 0;
}

.gallery img {
  display: block;
}
