@import '../node_modules/reset-css/_reset';

$bgcolor: #c0c0c0;
$primary-color: #663399;
$primary-dark: darken($primary-color, 20%);
$primary-light: lighten($primary-color, 10%);

@import "partials/header";
@import "partials/nav";

body {
  background-color: $bgcolor;
}

h1 {
  color: $primary-color;
  font-size: 3em;
}

h2 {
  color: $primary-dark;
  font-size: 2em;
  margin: .75em 0;
}

p {
  border: 3px solid $primary-color;
  background-color: $primary-light;
  padding: 1em;
  margin: 1em 0;
}
