* {
  box-sizing: border-box;
}

body {
  font: 16px arial;
  background-color: #c0c0c0;
  margin: 0;
  color: #222222
}

h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
.global-header {
  background-color: #222222;
  color: #F3F3F3;
  padding: 1em;
}

.global-nav {
  background-color: #E67E39;
}

.global-nav::after {
  content: "";
  display: table;
  clear: both;
}

.global-nav li {
  float: left;
}

.global-nav a {
  display: block;
  color: #F3F3F3;
  text-decoration: none;
  padding: 1em;
}

.global-nav a:hover {
  background-color: #F3F3F3;
  color: #E67E39;
}

.content-area {
  padding: 2em 1em;
  background-color: white;
}

.content-area h2 {
  text-transform: uppercase;
  color: #E67E39;
}

.content-area > p {
  margin: 1em 0;
  line-height: 1.5em;
}

.content-area h2 {
  clear: both
}

.photo {
  border: 3px solid #E67E39;
  padding: 1em;
  margin-bottom: 1em;
}

.photo > img {
  display: block;
}

.photo > p {
  margin-top: .5em;
  text-align: center;
}

.photo.right {
  float: right;
  margin-left: 2em;
}

.promos {
  background-color: #E67E39;
  padding: 1em;
}

.promos::after {
  content: "";
  display: table;
  clear: both;
}

.promos h3 {
  margin-bottom: .5em;
  text-transform: uppercase;
}

.promo {
  float: left;
  width: 32.533%;
  margin-right: 1%;
  text-align: center;
}

.promo:last-of-type {
  margin-right: 0;
}

.promo > img {
  max-width: 100%;
}

.promo p {
  margin: 1em;
  font-size: .7em;
  color: white;
  line-height: 1.3em;
}

.global-footer {
  background-color: #222222;
  color: white;
  padding: 1em;
}

.global-footer a {
  color: white;
}
